@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@import './themes.css';
@import './utilities.css';
@import './components.css';

/* ---------------------------------------
   Base
--------------------------------------- */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	border-color: var(--border);
}

html {
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: transparent;
}

body {
	margin: 0;
	min-height: 100vh;

	background: var(--background);
	color: var(--foreground);

	font-family: 'Inter', monospace, sans-serif;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

button,
input,
textarea,
select {
	font: 'Geist Mono';
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

button {
	cursor: pointer;
}

::selection {
	background: var(--primary);
	color: var(--primary-foreground);
}
